
    


.main-div 
    background-image: url("../../assets/img/house.jpg") 
    background-repeat: no-repeat
    background-size: contain 
    background-size: 100%
    mat-card
        padding: 0px
.login-form
    padding: 20px    

